@import "../colors/colors.scss";
.containerB{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    .billsToReceiveArea{
        height: auto;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        .legend{
            display: grid;
            grid-template-columns: 10% 36% 18% 16% 10% 10%;
            font-size: 20px;
            font-weight: bold;
            div{
                display: flex;
                justify-content: center;
            }
        }
        .billsToReceiveList{
            display: grid;
            grid-template-columns: 10% 36% 18% 16% 10% 10%;
            align-content: center;
            margin-top: 30px;
            padding: 15px 5px;
            border-bottom: 1px solid $gray;
            div{
                display: flex;
                justify-content: center;
            }
            .icon{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media screen and (max-width: 500px){
    .containerB{
        .billsToReceiveArea{
            .legend{
                display: none;
            }
            .billsToReceiveList{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 150px;
            }
        }
    }
}