    @import "../colors/colors.scss";

    .statementPage {
        padding: 20px;
        height: auto;
        margin-top: 40px;
        .inputArea {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .input {
                border-bottom: 1px solid $primary;
                width: 20%;
                height: 20px;
                padding: 0px 5px;
                padding-bottom: 5px;
                margin-top: 20px;
                position: relative;
                margin-bottom: 20px;
                display: flex;

                input {
                    flex: 1;
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    font-family: 'Montserrat', sans-serif;
                    width: 100%;
                    font-size: 20px;
                    color: $primary;

                }

                /* clears the 'X' from Explorer */
                input[type=search]::-ms-clear {
                    display: none;
                    width: 0;
                    height: 0;
                }

                input[type=search]::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }

                /* clears the 'X' from Chrome */
                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration {
                    display: none;
                }

            }

            .selectType {
                border: 1px solid $primary;
                width: 20%;
                border-radius: 10px;
                height: 25px;
                display: flex;

                select {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    font-family: 'Montserrat', sans-serif;
                }
            }

            .monthInput {
                border: 1px solid $primary;
                width: 20%;
                border-radius: 10px;
                height: 25px;
                display: flex;
                justify-content: center;

                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    font-family: 'Montserrat', sans-serif;
                    padding: 10px;
                }
            }
            button {
                padding: 10px;
                border-radius: 5px;
                height: 35px;
                background-color: #FFF;
                border: 2px solid $primary;
                cursor: pointer;
            }
        }
        .statementPageArea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            color: $secondary;
            .loaderPosition{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .loader{
                    animation: is-rotating 1s infinite;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 6px solid #e5e5e5;
                    border-top-color: $secondary;
                }
            }
            .statementDescriptions{
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px solid $gray;
                padding: 10px;
                .date{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-right: 1px solid $secondary;
                    width: 15%;
                }
                .description{
                    display: flex;
                    align-items: center;
                    justify-content:flex-start;
                    border-right: 1px solid $secondary;
                    width: 35%;
                }
                .value{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-right: 1px solid $secondary;
                    width: 12%;
                }
                .statementIconsPage{
                    display: flex;
                    justify-content: space-around;
                    width: 10%;
                    .delete{
                        cursor: pointer;
                    }
                    .edit{
                        cursor: pointer;
                    }
                }
            }
            .summation{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    @keyframes is-rotating{
        to{
            transform: rotate(1turn);
        }
    }@keyframes is-rotating{
        to{
            transform: rotate(1turn);
        }
    }