.category {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.category h1 {
  margin: 50px 70px;
}
.category .categoryArea {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.category .categoryArea .categoryListArea {
  width: 80%;
}
.category .categoryArea .categoryListArea .categoryListTotal {
  border-bottom: 1px solid #cac6ce;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  flex-wrap: wrap;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList .categoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList .categoryItem .subcategory {
  padding: 0px;
  margin-left: 25px;
  margin-top: 15px;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList .icons {
  width: 8%;
  display: flex;
  justify-content: space-around;
  display: flex;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList .icons .icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}
.category .categoryArea .categoryListArea .categoryListTotal .categoryList .icons .icon:hover {
  background-color: #cac6ce;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea {
  padding: 0px 20px;
  margin-left: 20px;
  overflow-y: hidden;
  margin-bottom: 10px;
  transition: all ease 0.5s;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea .sendNewSub {
  display: flex;
  margin-top: 10px;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea .sendNewSub .inputSub {
  border-bottom: 1px solid #180052;
  padding: 5px;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea .sendNewSub .inputSub input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 14px;
  color: #180052;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea .sendNewSub button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #180052;
  color: #FFF;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-left: 8px;
}
.category .categoryArea .categoryListArea .categoryListTotal .subcategoryArea .sendNewSub button:hover {
  color: #180052;
  background-color: #FFF;
  border: 1px solid #180052;
  font-weight: bold;
}
.category .categoryArea .categoryListArea .inputEdit {
  border-bottom: 1px solid #180052;
  height: 20px;
  width: 30%;
  padding: 0px 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.category .categoryArea .categoryListArea .inputEdit input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 20px;
  color: #180052;
}
.category .categoryArea .inputArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.category .categoryArea .inputArea .inputCategory {
  border-bottom: 1px solid #180052;
  height: 20px;
  width: 30%;
  padding: 0px 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.category .categoryArea .inputArea .inputCategory input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 20px;
  color: #180052;
}
.category .categoryArea .inputArea button {
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  background-color: #180052;
  color: #FFF;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  transition: all ease 0.3s;
  cursor: pointer;
}
.category .categoryArea .inputArea button:hover {
  color: #180052;
  background-color: #FFF;
  border: 2px solid #180052;
  font-weight: bold;
}

/*# sourceMappingURL=category.css.map */
