@import "../colors/colors.scss";

.header {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    box-shadow: 0 1px 5px 0px #cac6ce;

    .container {
        margin: 0px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuMobileIcon {
            display: none;
        }

        .menuMobile {
            display: none;
        }

        .navigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30vw;

            .payments {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                p {
                    color: #180052;
                }
            }

            .paymentOptions {
                overflow: hidden;
                transition: all ease 0.3s;
                position: absolute;
                top: 70px;
                right: 330px;
                padding: 3px 20px;

                ul {
                    box-shadow: 0 1px 5px 0px #cac6ce;
                    background-color: #FFF;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    li {
                        cursor: pointer;
                        list-style-type: none;
                        border-bottom: 1px solid #d7d5d8;
                        padding: 5px;
                        display: flex;
                        align-items: center;

                        a {
                            text-decoration: none;
                        }
                    }

                }
            }

            .financialControl {
                .financialControlClick {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    p {
                        color: #180052;
                    }
                }

                .financialOptions {
                    overflow: hidden;
                    transition: all ease 0.3s;
                    position: absolute;
                    top: 70px;
                    right: 190px;
                    padding: 3px 20px;

                    ul {
                        box-shadow: 0 1px 5px 0px #cac6ce;
                        background-color: #FFF;
                        padding: 10px;
                        display: flex;
                        justify-content: center;

                        li {
                            cursor: pointer;
                            list-style-type: none;
                            border-bottom: 1px solid #d7d5d8;
                            padding: 5px;
                            display: flex;
                            align-items: center;

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .profile {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;

                .account {
                    display: flex;
                    align-items: center;
                }


            }

            .logoutBlock {
                position: absolute;
                top: 73px;
                right: 70px;
                box-shadow: 0 1px 5px 0px #cac6ce;
                background-color: #FFF;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                transition: all ease 0.3s;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                }
            }
        }

        img {
            width: 100px;
        }
    }

}

@media screen and (max-width: 500px) {
    .header {
        width: 100%;

        .container {
            margin: 0;

            .menuMobileIcon {
                display: flex;
                margin-right: 30px;
            }

            .menuMobile {
                display: flex;
                overflow: hidden;
                position: fixed;
                top: 100px;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 900;
                justify-content: flex-end;
                align-items: flex-start;
                .navigationMobile{
                    margin-right: 30px;
                    width: 0px;
                    height: 50vh;
                    background-color: #FFF;
                    transition: all ease 0.5s;
                    padding: 20px;
                    font-size: larger;
                    overflow-x: hidden;
                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        height: 100%;
                        li{
                            list-style-type: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            a{
                                text-decoration: none;
                                color: $secondary;
                            }
                        }
                    }
                    
                }
            }

            .navigation {
                display: none;
            }
        }
    }

}