@import "../colors/colors.scss";

.modalCategory{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    .modalArea{
        width: 400px;
        height: 300px;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: $primary;
        .inputEdit {
            border-bottom: 1px solid $primary;
            height: 20px;
            width: 70%;
            padding: 0px 5px;
            padding-bottom: 5px;
            margin-top: 20px;
            position: relative;
            margin-bottom: 20px;
            input {
                flex: 1;
                border: 0;
                outline: 0;
                background-color: transparent;
                font-family: 'Montserrat', sans-serif;
                width: 100%;
                font-size: 20px;
                color: $primary;
            }
        }
        .actionButtons{
            color: $secondary;
            width: 70%;
            display: flex;
            justify-content: space-between;
            span{
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}