.addTransaction {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.addTransaction .closeIcon {
  cursor: pointer;
}
.addTransaction .modal {
  width: 20vw;
  height: 100vh;
  background-color: #FFF;
  transition: all ease 0.5s;
  padding: 20px;
}
.addTransaction .modal .headerTransaction {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
}
.addTransaction .modal form {
  padding: 15px 0px;
}
.addTransaction .modal form .transactionType {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.addTransaction .modal form .transactionType span {
  margin-bottom: 20px;
}
.addTransaction .modal form .switch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  --false: #E81B1B;
  --true: #009068;
}
.addTransaction .modal form .switch input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: #180052;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
}
.addTransaction .modal form .switch input[type=checkbox]::before {
  content: "";
  display: block;
  height: 1.9em;
  width: 1.9em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 1.25em;
  background-color: var(--false);
  border-radius: 0.2em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.addTransaction .modal form .switch input[type=checkbox]:checked::before {
  background-color: var(--true);
  left: calc(100% - 1.25em);
}
.addTransaction .modal form .description {
  border-bottom: 1px solid;
  height: 20px;
  width: 100%;
  padding: 0px 5px;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
.addTransaction .modal form .description input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 15px;
}
.addTransaction .modal form .description label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.addTransaction .modal form .description input:focus ~ label, .addTransaction .modal form .description input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}
.addTransaction .modal form .valueAndDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addTransaction .modal form .valueAndDate .transactionValue {
  border-bottom: 1px solid;
  height: 20px;
  width: 30%;
  padding: 0px 5px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}
.addTransaction .modal form .valueAndDate .transactionValue input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  font-size: 15px;
}

/*# sourceMappingURL=addTransaction.css.map */
